#include <dt-bindings/spi/spi.h>

/ {
	chosen {
		zephyr,sram = &sram1;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,display = &display_128x64;
	};

	aliases {
	};
};

&spim2_default {
	group1 {
		pinmux = <SPIM2_SCLK_GPIO1>;
	};
	group2 {
		pinmux = <SPIM2_MOSI_GPIO2>;
		output-low;
	};
};

&spi2 {
	status = "okay";
	  
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;

	display_128x64: ssd1309@0 {
		compatible = "solomon,ssd1309fb";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(10)>;
		duplex = <SPI_FULL_DUPLEX>;
		frame-format = <SPI_FRAME_FORMAT_MOTOROLA>;
		/*spi-cpol;*/
		/*spi-cpha;*/
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		/*com-sequential;*/
		prechargep = <34>;
		reset-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		inversion-on;
		ready-time-ms = <100>;
		use-internal-iref;
		data-cmd-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
	};
};

