#include <dt-bindings/spi/spi.h>

/ {
	chosen {
		zephyr,sram = &sram1;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,display = &display_320x240;
	};

	aliases {
	};

	lvgl_pointer {
			compatible = "zephyr,lvgl-pointer-input";
			input = <&xpt2046>;
			swap-xy;
			#invert-x;
			invert-y;
	};

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		write-only;
		spi-dev = <&spi2>;
		dc-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		#address-cells = <1>;
		#size-cells = <0>;

		display_320x240: ili9341@0 {
			compatible = "ilitek,ili9341";
			status = "okay";
			reg = <0>;
			mipi-max-frequency = <DT_FREQ_M(25)>;
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
			/*mipi-cpol;*/
			/*mipi-cpha;*/
			/*mipi-hold-cs;*/
			te-mode = "MIPI_DBI_TE_NO_EDGE";
			duplex = <SPI_FULL_DUPLEX>;
			width = <320>;
			height = <240>;
			rotation = <270>;
			pixel-format = <0>;
			display-inversion;
		};
	};
};

&spim2_default {
	group1 {
		pinmux = <SPIM2_SCLK_GPIO1>,
			 <SPIM2_MISO_GPIO15>;
	};
	group2 {
		pinmux = <SPIM2_MOSI_GPIO2>;
		output-low;
	};
};

&spi2 {
	status = "okay";

	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>,
	           <&gpio0 7 GPIO_ACTIVE_LOW>;
	
	xpt2046: xpt2046@1 {
		reg = <1>;
		compatible = "xptek,xpt2046";
		spi-max-frequency = <2000000>;
		int-gpios = <&gpio0 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		touchscreen-size-x = <320>;
		touchscreen-size-y = <240>;
		min-x = <1350>;
		max-x = <3850>;
		min-y = <250>;
		max-y = <3300>;
		z-threshold = <750>;
		reads = <10>;
	};
};

